<div style="background-color:#f5f5f5;margin:0px;padding:30px;font:Arial;font-family:Arial,Helvetica,Sans-serif" bgcolor="#f5f5f5">
  <table width="800" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#fff" style="margin: auto auto;padding:0px;border-collapse:collapse; color:#002d40">
    <tbody>
      <tr>
        <td width="800" cellpadding="0" cellspacing="0" border="" valign="top" style="padding:20px;margin:20px;border:0px;border-collapse:collapse;max-width:800px">
          <span style="font-size:18px;line-height:22px;font-weight:bold; text-align:center;text-transform:uppercase;">
            <span style="color:#66cccc">New Contract Proposal</span>
          </span>
          <br/>
          <br/>
          <br/>
          <p style="margin:0px;padding:0px">
            A new <a href="{{ proposal_url }}">contract proposal</a> was submitted by {{ responsible }}.
          </p>
          <br/>
          <br/>
          <p style="margin:0px;padding:0px">
            Thank you,
            <br/>
            <br/>
            <img src='http://neuro.fchampalimaud.org/static/cnp.png' />
          </p>
          <br/>
          <p style="margin:0px;padding:0px;color: red;font-size:11px;">
            Please send an email to <a style="color:#66cccc; text-decoration:none;" href="mailto:swp@research.fchampalimaud.org">
      swp@research.fchampalimaud.org
    </a> if you are not entitled to see this message.
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
